/* General Card Body styling */
.card-body {
    padding: 20px;
    overflow: hidden; /* Prevents content from overflowing outside the card */
  }
  
  /* Scrollable table container */
  .table-scroll {
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
  }
  
  /* General table styling */
  .tablesorter {
    width: 100%;
    border-collapse: collapse; /* Ensures borders between cells are merged */
  }
  
  /* Table header styling */
  .tablesorter thead th {
    text-align: center;
    padding: 10px;
  }
  
  /* Table body styling */
  .tablesorter tbody td {
    padding: 10px;
  }
  
  /* Alternate row colors */
  .tablesorter tbody tr:nth-child(even) {
    background-color: #5522;
  }
  
  /* Hover effect for rows */
  .tablesorter tbody tr:hover {
    background-color: grey;
  }
  
  /* No data styling */
  .no-data {
    text-align: center;
    color: #6c757d;
  }
  
  /* Table header styling */
.table-container thead {
  position: sticky;
  top: 0;
  background-color: #f8f9fa; /* Set background color to ensure header is visible */
  z-index: 1; /* Ensure header stays on top of other content */
}



.card-chart-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  cursor: pointer; /* Change cursor to pointer */
}

.card-chart-hover:hover {
  transform: scale(1.05); /* Slightly enlarge the card */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
}

.card-chart-hover .card-header h5,
.card-chart-hover .card-header h3 {
  transition: color 0.3s ease; /* Smooth transition for text color */
}

.card-chart-hover:hover .card-header h5,
.card-chart-hover:hover .card-header h3 {
  color: #007bff; /* Change text color on hover */
}
