#reporth1{
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
    color: #E74C; /* Dark red */
}

.asset-list-container{
    height: 40px;
}

.asset-table{
    background-color:white;
}